<html>
	<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="refresh" content="10" /> 
	<title>
	Session
	</title>
	</head>
	<body>
	<h1>Session Code: <u><%= data.session_name %></u></h1><br>
	<h2>Session Code: <u><%= data.session_key %></u></h2><br><br><br>
	<div name="students">
		<table name="student_table">
		<% for(var i = 0; i<data.raised.length; i++) {%>
		<form action="/lead_session" method="POST">
		<tr>
			<td name="student_number">
				<%= i+1%>
			</td>
			<td name="student_name">
				<%= data.raised[i].student_name %>
			</td>
			<td>
				<input type="hidden" name="student_name" value="<%= data.raised[i].student_name %>">
				<input type="hidden" name="session_key" value="<%= data.session_key %>">
				<button type="submit" >Answer</button>
			</td>
		</tr>
		</form>
		<% } %>
		</table>
	</div>
	</body>
</html>